@import 'open-iconic.scss';
$img-path: '../../images/' !default;

$text-color: #eee;
$color-primary: #46a230; //#46a230;
$color-secondary: #40bbd5;
$color-highlight: #43a9fb;
$color-red: #fb4343;
$mobile-view: 720px;

:focus {outline:none;}
::-moz-focus-inner {border:0;}

html { font-size: 12px; }
html,body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background: #120b0b ;  
  color: $text-color;
  font-size: 1rem;
  display: flex;
}
h1,h2,h3,h4,h5,h6 { 
  text-transform: uppercase; 
  color: $color-primary;
  border-radius: 22px;
  background: #1d1616;
  padding: 0.75rem 1.5rem;
  text-shadow: 3px 4px 2px #000;
  border: 1px solid #241b1b;
}
a {
  text-decoration: none;
  color: #eee;
}
a:hover { color: $color-primary; }
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
p { margin: 0.25rem; }
textarea {
  height: 160px;
  width: 80% !important;
  margin: 1rem auto;
  background: #111;
  color: #43a9fb;
  padding: 1rem;
  border: 1px solid #000;
}

.dnone { display: none !important; }
.dflex { display: flex !important; }
.dblock { display: block !important; }
.flex-col { flex-direction: column !important; }
.flex-row { flex-direction: row !important; }
.flex1 { flex: 1 !important; }
.align-start { align-self: flex-start !important; }
.align-center { align-self: center !important; }
.align-end { align-self: flex-end !important; }
.align-items { align-items: center !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.error { color: $color-red; li { display: block; }}
.info { 
  color: $color-secondary;
  li { display: block; margin: 5px; padding: 5px; }
 }
.success { color: $color-primary; }
.green-bg { background-color: #202d1b !important; }
.green-dashed { outline: thin dashed #316631 !important; }
.primary-bg { background-color: $color-primary !important; }
.secondary-bg { background-color: $color-secondary !important; }
.highlight-bg { background-color: $color-highlight !important; }
.red-bg { background-color: #200808 !important; }
.text-primary { color: $color-primary !important; }
.text-secondary { color: $color-secondary !important; }
.text-highlight { color: $color-highlight !important; }
.text-red { color: $color-red !important; }
.c-secondary { color: $color-secondary !important; }
.p1 { padding: 0.5rem; }
.p2 { padding: 1rem; }
.p3 { padding: 3rem; }
.m3 { margin: 3 !important; }
.m2 { margin: 2 !important; }
.m1 { margin: 1 !important; }
.m0 { margin: 0; }
.m2 { margin: 0.5rem; }
.mt0 { margin-top: 0 !important; }
.mt1 { margin-top: -5rem !important; }
.mt2 { margin-top: -3rem !important; }
.mt3 { margin-top: 1rem !important; }
.mt4 { margin-top: 3rem !important; }
.mt5 { margin-top: 5rem !important; }
.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 0.5rem !important; }
.mb2 { margin-bottom: 1rem !important; }
.mr1 { margin-right: -2rem !important; }
.mr2 { margin-right: 1rem !important; }
.mr3 { margin-right: 2rem !important; }
.ml1 { margin-left: -2rem !important; }
.ml2 { margin-left: 1rem !important; }
.ml3 { margin-left: 2rem !important; }
.fr, .fright { float: right; }
.fl { float: left; }
.no-transform { text-transform: none; }
.bl { border-left: 1px solid #555; }
.w100 { width: 100% !important; }
.w33 { width: 33% !important; }
.w33.mobile {
  @media screen and (max-width: $mobile-view) {
    width: 100% !important;
  }
}
.settings-page { 
  // max-width: 800px; 
  border-left: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
}
.btn {
  background-color: #333;
  color: $text-color;
  border-radius: 3px;
  border: 1px solid #444;
  padding: 0.7rem 1.2rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0.5rem;
  min-width: 7rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 4px 4px 2px #000;
  border-left: 1px solid rgba(255,255,255, 0.5);
  border-top: 1px solid rgba(255,255,255, 0.5);
  text-shadow: 0px 0px 0px rgba(255,255,255, 0.4);
  overflow: hidden;
  position: relative;
  &--mini {
    padding: 0.2rem 0.5rem;
    font-size: .75rem;
    margin: 0.2rem;
    min-width: auto;
  }
  &--small {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    min-width: 5px;
  }
  &--primary {
    background-color: #59cc3d !important;
    color: #120b0b;
  }
  &--secondary {
    background-color: $color-secondary !important;
    color: #120b0b;
  }
  &--red {
    background-color: $color-red !important;
    color: $text-color;
  }
  &--primary:hover {
    background-color: $color-primary;
    color: #000;
  }
}
.btn::after {
  // background-color: #f00;
  height: 100%;
  left: -100%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.3s;
  transform-origin: top left;
  width: 0;
  // z-index: 99;
}
button::after {
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
button::before,
button::after {
  background: #fff;
  background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
  opacity: 0.7;
  content: '';
  position: absolute;
  // z-index: -1;
}

button:active {
  top: 3px;
}
.btn:hover:after {
  height: 100%;
  width: 200%;
}
// .btn:hover {
//   background-color: #444 !important;
//   color: #fff;
//   border-radius: 2px;
// }
input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}

#app {
  display: flex;
  flex-direction: column;
}
.login-page {
  display: flex;
  flex: 1;
  align-self: center;
  margin-top: 13.37%;
  & .view-main {
    display: flex;
  }
}
.skull-bg {
  // background-image: url('https://vignette.wikia.nocookie.net/whitewolf/images/e/e2/SkullMTAw.png/revision/latest?cb=20170303075751') !important;
  background-image: url('#{$img-path}skull-bg.gif') !important;
  background-attachment: fixed !important;
  background-repeat: space !important;
}

.view-hashes {
  padding: 1rem;
  background: rgba(20,20,20,0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: start;
  box-shadow: 0px 7px 13px #0b0b0b;

  @media screen and (max-width: $mobile-view) {
    flex-direction: column;
  }
}
.VueTables__limit-field { 
  flex-direction: row;
  display: flex;
  align-items: center;
}
.col-md-12 { display: flex; }
.VueTables__search { flex: 1; }

.hashtable {
  flex: 1;
  padding-right:1rem;
  textarea {
    width: 98% !important;
  }
  @media screen and (max-width: $mobile-view) {
    width: 100%;
  }
}
.map {
  height: 530px;
  width: 50%;
  border: 1px solid #3a3a3a;
  background: #111;
  transition: all 3s ease-in-out;
  @media screen and (max-width: $mobile-view) {
    width: 100%;
  }
}
.showmap { opacity: 1; }

ul {
  padding:0;
  li {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
.table {
  width: 100%;
  border: 2px solid #2d0808;
  box-shadow: 0 0 12px -6px #f00;
  margin-bottom: 2rem;
  border: 1px dotted rgba(255,0,0,0.15);
  th {
    background: #222;
    padding: 5px;
    border: 1px dotted #5a1414;
    border-bottom: 6.66px solid #171717;
    color: #ffd6d6;
  }
  td {
    padding: 0 1rem 0 1rem;
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    border: 1px solid #241d1d;
  }
  tr {
    background: #171111;
  }
  tr:hover {
    background-color: rgba(255,255,255,0.01) !important;
  }

  tr:nth-child(even) {
      background-color: #0f0707;
  }
  tr:hover {
    background-color: #222;
    cursor: pointer;
  }
}

.loading {
  background-image: url('#{$img-path}spinner.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: transparent;
  &:hover {
    background-color: transparent !important;
    color: transparent;
  }
}
.leaflet-marker-icon {
  background-image: url('#{$img-path}marker.gif') !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.skull-left, .skull-right {
  background-image: url('#{$img-path}skull.gif');
  background-size: cover;
  position: absolute;
  top: 110px;
  right: 10px;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
  margin-top: -3rem;
  @media screen and (max-width: $mobile-view) {
    left: 10px;
    top: 190px;
    width: 100px;
    display: none;
  }
}
.skull-left {
  left: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar {
	background-color: #2a2a2a;
  background: linear-gradient(to bottom, rgb(30,30,30) 50%,rgb(35,35,35) 37%, rgb(54,54,54) 95%);
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	padding: 0.5rem 2rem;
	display: flex;
	align-items: center;
  min-height: 32px;
  z-index: 10;
	h1 {
		font-size: 14px;
    font-weight: normal;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000;
		display: inline-block;
		margin-right: 1rem;
    flex:1;
		color: $color-primary;
    @media screen and (max-width: $mobile-view) {
      display: none;
    }
	}
	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
    font-size: 1.5rem;
    display: flex;
    align-self: center;
    .oi {
      margin-right: 1.5rem;
      opacity: 0.5;
    }
    .oi:hover {
      opacity: 1;
    }
    .router-link-active .oi {
      color: $color-primary;
      opacity: 1
    }
		li {
			display: flex;
			margin-left: 1.5rem;
			text-transform: uppercase;
      font-weight: bold;
		}
	}
}

.progress-header {
	margin-bottom: 1rem;
	text-align: center;
}

.chart {
	text-align: center;
	flex-direction: row;
	display: flex;
  @media screen and (max-width: $mobile-view) {
    flex-direction: column;
  }
	&__left,
	&__right {
		margin: 2rem;
		border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
		padding: 1rem;
		display: flex;
		flex: 1;

		flex-direction: column;
		align-self: center;
		span {
			color: $color-secondary;
		}
    @media screen and (max-width: $mobile-view) {
      width: 90%;
    }
	}
	&__center { align-self: center; }
}

.view-queue {
	padding: 1rem;
  background: #180f0f;
	display: flex;
	align-items: center;
	flex-direction: column;
  min-height: 180px;
  padding-top: 3rem;
  box-shadow: 0px 10px 30px rgba(0,0,0, 0.3);
  border-top: 1px solid #2d0707;
  border-bottom: 1px solid #2d0707;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
	h2 {
    margin-top: 0;
		color: $color-primary;
	}
	.promote_next {
		width: 30px;
		margin-top: 1rem;
	}
}

.view-cracked {
	display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  padding: 1rem;
	h2 { color: $color-primary; }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
	margin: 1rem;
	background: #222;
	box-shadow: 0px 2px 3px #000;
  box-shadow: 1px 1px 1px #333;
	&__header {
    background: linear-gradient(180deg,#1e1e1e 50%,#232323 0,#363636 95%);
		padding: 1rem;
		border-top: 1px solid #555;
		border-left: 1px solid #555;
		border-bottom: 1px solid #1a1a1a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: #0a0a0a 0px 4px 3px;
    .oi { color: $color-red; }
	}
	&__body {
		padding: 1rem;
		border-left: 1px solid #555;
		span {
			color: $color-primary;
		}
	}
  @media screen and (max-width: $mobile-view) {
    max-width: 300px;
  }
}


.field {
  flex: 1;
  display: flex;
}
.field.upload {
  position: relative;
  overflow: hidden;
  align-items: center;
  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 100px;
    cursor: pointer;
  }
}
form .field-group{
  display: flex;
  margin: 0 0 12px 0;
  align-items: center;
}
form .field-group .label{
  text-align: left;
  margin: 0 8px 0 0;
  padding: 2px 0;
  width: 15%;
}
form .field-group:last-child{
  display: flex;
  justify-content: flex-end;
}
select,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.45rem;
  background: #111;
  border: 1px solid #333;
  color: #eee;
  margin: 0.3rem;
  flex: 1;
  border-radius: 6.66px;
}
textarea {
  width: 100%;
  overflow: auto;
  height: 120px;
  opacity: 0.7;
}
input[type="radio"],
input[type="checkbox"],
input[type="submit"]{
  width: auto;
}
input[type="checkbox"] {
  transform: scale(1.3);
}

@media (max-width: 720px) {
  form .field-group .label{
     text-align: left;
     margin: 0;
  }
  input, select{ width: 60%; }
}
@media (max-width: 480px) {
  select{width: 100%;}
  input[type="radio"],
  input[type="checkbox"],
  input[type="submit"]{ width: auto; }
  form .field { width: 100%; }
  form .field-group{
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  form .field-group .label{
    padding: 0 0 5px 0;
    margin: 10px 0 0 0;
    width: 100%;
  }
}

.vue-typer .custom.char {
  color: #D4D4BD;
  background-color: #1E1E1E;
}
.vue-typer .custom.char.selected {
  background-color: #264F78;
}

.vue-typer .custom.caret {
  width: 0.25rem;
  background-color: #444;
}


// VueTables
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}
.VueTables__heading {
  text-shadow: 0px -3px 2px #000;
  text-transform: uppercase;
}


// VuePagination
.page-link.active { color: $color-primary; }
.page-link { 
  color: #666;
  font-weight: bold;
}
nav.text-center { flex: 1; }
.pagination.VuePagination__pagination {
  padding: 0 4rem;
  display: flex;
}
.VuePagination__pagination-item.page-item {
  flex: 1; 
}
.VuePagination__count.text-center.col-md-12 {
  align-self: center;
  padding-right: 1rem;
  color: #666;
  display: block;
}

.iconic-propery-accent {
  color: $color-secondary;
}
.glyphicon-sort:before {
  content: '\e0bf';
}
.glyphicon {
  margin-left: 0.5rem;
}
.VueTables__child-row-toggler--closed::before {
  content: '➕'
}
.VueTables__child-row-toggler--open::before {
  content: '➖'
}

.glyphicon-chevron-down:before {
  content: '💀';
  transform: rotate(180deg);
  transition: all 333ms ease-in-out;
  top: 3px;
}
.glyphicon-chevron-up:before {
  content: '💀';
  transition: all 333ms ease-in-out;
  top: 0px;
}